run = "npm run dev"

[deployment]
run = ["sh", "-c", "npm run build && npm run preview"]

[env]
NODE_ENV = "development"

[nix]
channel = "stable-22_11"

[languages.typescript]
pattern = "**/{*.ts,*.js,*.tsx,*.jsx}"

[languages.typescript.languageServer]
start = "typescript-language-server --stdio"

[web]
run = "npm run dev"